<div id="control-panel" class="sixteen columns">
	<fieldset>
		<legend align="center">Painel de Controle</legend>
		  <div class="field-block alpha six columns">
			
				<% store_credits = Spree::StoreCredit %>
				<p><span>A) Total</span>:<br />
				<%= Spree::Money.new(store_credits.sum(:remaining_amount), { currency: "BRL" }) %> /
				<%= Spree::Money.new(store_credits.sum(:amount), { currency: "BRL" }) %>*</p><br />
				
				<% store_credits1 = store_credits.where(refundable: 0) %>
				<p><span>B) Não-resgatável</span>:
				<%= Spree::Money.new(store_credits1.sum(:remaining_amount), { currency: "BRL" }) %></p><br />
				
				* restante / total
			</div>
		  <div class="eight columns">
			
				<% store_credits2 = store_credits.where(refundable: 1).where("created_at < ?", Date.today - 20.days) %>
				<p><span>C) Disponível para resgate</span>:
				<%= Spree::Money.new(store_credits2.sum(:remaining_amount), { currency: "BRL" }) %></p><br />

				<% store_credits3 = store_credits.where(refundable: 1).where("created_at > ?", Date.today - 20.days) %>
				<p><span>D) Indisponível para resgate</span>:
				<%= Spree::Money.new(store_credits3.sum(:remaining_amount), { currency: "BRL" }) %></p><br />

				<% store_credits4 = Spree::Withdrawal.where(transferred_at: nil) %>
				<p><span>E) Resgate solicitado</span>:
				<%= Spree::Money.new(store_credits4.sum(:amount), { currency: "BRL" }) %></p>
				
			</div>
			
	</fieldset>
</div>