<% content_for :page_title do %>
  <%= t("listing_store_credits") %>
<% end %>

<% content_for :page_actions do %>
	<li><%= button_link_to "Agrupado por usuário", users_admin_store_credits_path %></li>
<% end %>

<%= render partial: "control_panel" %>

<%= render partial: "store_credits_table", locals: {store_credits: @store_credits} %>

<%= paginate @store_credits %>
